body{
    margin: 0;
    padding: 0;
}

.section{
    display: flex;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
}


.image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    position: relative;
    animation: left_sec_anim 3s 3.1s forwards;
    background-color: white;
}

@keyframes left_sec_anim{
    0%{
        background-color: white;
    }
    100%{
        background: linear-gradient(rgba(2, 132, 248, 0.69), rgba(19, 57, 91, 1));
    }
}

.image .bottle{
    position: absolute;
    top: 12%;
    animation: bottle_anim 3s forwards;
}

@keyframes bottle_anim {
    from{
        top: 12%;
    }
    to{
       top: 60%;
    }
}

.image .cap{
    position: absolute;
    height: 80px;
    top: 10%;
    z-index: 10;
    animation: cap_anim 3s forwards;
}

@keyframes cap_anim {
    from{
        top: 10%;
    }
    to{
        top: 58.2%;
    }
    
}

.left{
    overflow: hidden;
    font-family: "Inter", sans-serif;
    opacity: 0;
    animation: left_text_anim 3s 3.5s forwards;
}

@keyframes left_text_anim {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.left h2{
    position: absolute;
    top: 8%;
    left: 13%;
    font-size: 48px;
    margin: 0;
    padding: 6rem 1rem 2rem;
    width: 65%;
    color: white;
}

.left button{
    background: linear-gradient(180deg, #E9C46B 0%, #F3A261 100%);
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 0.6rem 0.7rem;
    cursor: pointer;
    font-weight: 600;
    margin-top: 1rem;
}

.left p{
    position: absolute;
    top: 30%;
    left: 13%;
    font-size: 18px;
    color: white;
    margin: 0;
    padding: 1rem 1rem 2rem;
    width: 65%;
}

.text{
    width: 50%;
    background: linear-gradient(rgba(2, 132, 248, 0.69), rgba(19, 57, 91, 1));
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
}

.text h2{
    font-size: 48px;
    margin: 0;
    padding-bottom: 3.5rem;
    padding-left: 4rem;
    padding: 2rem 1rem 4rem 4rem;
}

.text h4{
    font-size: 36px;
    margin: 0;
    font-weight: 500;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding: 0 1rem 2.5rem 4rem;
}

.text p{
    font-size: 24px;
    margin: 0;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding: 0 1rem 4rem 4rem;
}

.right_img{
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    opacity: 0;
    animation: right_img_anim 3s 3.1s forwards;
}

@keyframes right_img_anim {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}